# Node modules
node_modules/

# Environment variable files
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directory for debugging coverage reports
coverage/

# System files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity

# Optional REPL history
.node_repl_history

# IDE or Editor-specific files
.idea/
.vscode/

# MacOS specific files
*.DS_Store

# Typescript compiled output
dist/
__pycache__/loraWeightGen.cpython-310.pyc
__pycache__/promptGen.cpython-310.pyc
loras/bexicutes21.safetensors
loras/ravengriim13.safetensors
loras/swaggy16.safetensors
image.png
src/python/__pycache__/loraWeightGen.cpython-310.pyc
src/python/__pycache__/promptGen.cpython-310.pyc
